*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


html, body {
    width: 100%;
    height: 100%;
    font-family: "Cabin", sans-serif;
}

.tela {
    display: flex;
    flex-direction: column;
    height: 90%;
}

body {
    background: linear-gradient(124deg,rgba(2, 0, 36, 1) 0%, rgba(19, 19, 56, 1) 52%, rgba(0, 212, 255, 1) 100%);
    color: #331f19; 
}

.header{
    width: 100%;
    max-width: 100%;
    padding-inline: 2rem;
}

.logo img{
    top: 10px;
    border-radius: 30px;
    width: 150px;
    height: auto;
    padding: 0.5rem;
    z-index: 999;
    margin: 20px;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

section{
    width: 100%;
    font-size: 1rem;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixaprincipal{
    position: relative;
    width: 100%;
    max-width: 600px;
    font-size: 1rem;
    padding: 2rem;
    border-radius: 40px;
    z-index: 999;
    box-shadow: rgb(14, 42, 168);
    color: #331f19;
    background: #fff;  
    z-index: 1;
}

h1{
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 3rem;
    text-align: center;
}

h2{
    margin-top: 5px;
    margin-bottom: 40px;
    font-size: 1rem;
    text-align: center;
}

.campo-senha {
  position: relative;
  display: flex;
  align-items: center;
}


input[type="email"],
input[type="password"],
input[type="text"] {
    flex: 1;
    padding: 0.6rem;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    border: 2px solid #331f19;
    outline: none;
    border-radius: 10px;
    background-color: transparent;
}

.toggle-senha {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #333;
    padding: 1rem;
}

.linha-dupla{
    display: flex;
    gap: 180px;
    margin-bottom: 50px;
    font-size: 15px;
    flex-wrap: nowrap;
}


.esqueciminhasenha a{
    color: rgba(19, 19, 56, 1);
    display: flex;
    justify-content: left;
}

.esqueciminhasenha a:hover{
    color: blue;
}

/* Botão de cadastro */
.cadastro{
    display: flex;
    justify-content: center;
    color:rgba(19, 19, 56, 1);
    margin: 0 auto;
    padding: 1rem;
    text-decoration: none;
    font-size: 15px;
}

.cadastro p{
    margin-right: 5px;
}

.cadastro a:hover{
    color: blue;
}

/*Botão de login*/
.login a{
    text-decoration: none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(19, 19, 56, 1);
    width: 50%;
    max-width: 200px;
    border-radius: 20px;
    padding: 1rem;
    background: transparent;
    border: 2px rgba(19, 19, 56, 1) solid;
    margin-bottom: 10px;
}

.login a:hover{
    color: aliceblue;
    background: linear-gradient(124deg,rgba(2, 0, 36, 1) 0%, rgba(19, 19, 56, 1) 52%, rgba(0, 212, 255, 1) 200%);
}

.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

/* Caixa do modal */
.modal-conteudo {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
  position: relative;
  text-align: center;
}

/* Botão de fechar (X) */
.fechar {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
}
