@import url('https://fonts.ggleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e2e0df;
    color: #331f19; 
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    padding-top: 120px;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 2rem;
    background: linear-gradient(124deg, rgba(2, 0, 36, 1) 0%, rgba(19, 19, 56, 1) 52%, rgba(0, 212, 255, 1) 200%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    z-index: 1000;
}

.cabecalho {
    color: #e2e0df;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.cabecalho img {
    margin-right: 30px;
    height: 50px;
    width: auto;
    border: none;
    border-radius: 10px;
}

.titulo {
    margin-right: 15rem;
    width: 10%0;
    color: #F4F0EA;
    font-size: 1rem;
    text-align: center;
}

.sair a {
    padding: 0.5rem 1rem;
    border-radius: 25px;
    background-color: #F4F0EA;
    color: #331f19;
    text-decoration: none;
    font-weight: bold;
}

.sair a:hover {
    background: rgba(19, 19, 56, 1);
    color: #e2e0df;

}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

h2{
    color: #331f19;
}

abbr{
    cursor: help;
}

input [type="radio"]{
    width: 100%;
}

input[type ="text"], input[type ="password"], input[type ="email"]{
    margin-bottom: 2px;
    width: 45%;
    padding: 0.6rem;
    border: 2px solid rgba(19, 19, 56, 1);
    outline: none;
    border-radius: 10px;
    background-color: transparent;
    color: rgba(19, 19, 56, 1);
}

input[type ="date"]{
    width: 12%;
    padding: 0.6rem;
    border: 2px solid #331f19;
    outline: none;
    border-radius: 10px;
    background-color: transparent;
    text-align: center;
    color: rgba(19, 19, 56, 1);
} 

input::placeholder{ 
    color: rgba(19, 19, 56, 1);
}

/*input do botão de upload de arquivo*/
input{
    font-size: 15px;
    padding: 0.5rem;
    background: rgba(19, 19, 56, 1);
    cursor: pointer;
    color: #e2e0df;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
}

select{ 
    font-size: 15px;
    padding: 0.5rem;
    background: transparent;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    background: rgba(19, 19, 56, 1);
    color: #e2e0df;
}

img {
    width: 10rem;
    border-radius: 30%;
    outline: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: linear-gradient(124deg,rgba(2, 0, 36, 1) 0%, rgba(19, 19, 56, 1) 52%, rgba(0, 212, 255, 1) 200%);
    color: #F4F0EA;
    padding: 1rem;
}

td {
    color: #331f19;
    padding: 1rem;
    text-align: left;
}

tfoot td{
    background: linear-gradient(124deg,rgba(2, 0, 36, 1) 0%, rgba(19, 19, 56, 1) 52%, rgba(0, 212, 255, 1) 200%);
    color: #F4F0EA;
    text-align: center;
}

details {
    background: linear-gradient(124deg,rgba(2, 0, 36, 1) 0%, rgba(19, 19, 56, 1) 52%, rgba(0, 212, 255, 1) 200%);
    border-radius: 10px;
    padding: 1rem;
}

summary{
    color: #F4F0EA;
    margin: 0.5rem;
    cursor: pointer;
}

ol{
    margin-left: 1.5rem;
}

ol li{
    padding: 0.2rem;
    color: #F4F0EA;
}

fieldset{
    border: 2px solid #331f19;
    border-radius: 10px;
    padding: 1rem;
}

legend {
    color: #331f19;
    padding: 0 0.5rem;
}

textarea{
    background-color: transparent;
    outline: none;
    border-radius: 10px;
    border: 2px solid #331f19;
    color: #331f19;
}

button{
    background: linear-gradient(124deg,rgba(2, 0, 36, 1) 0%, rgba(19, 19, 56, 1) 52%, rgba(0, 212, 255, 1) 200%);
    border: none;
    padding: 0.8rem;
    color: #F4F0EA;
    border-radius: 5px;
    cursor: pointer;
}

footer{
    background: linear-gradient(124deg,rgba(2, 0, 36, 1) 0%, rgba(19, 19, 56, 1) 52%, rgba(0, 212, 255, 1) 200%);
    padding: 1rem;
    text-align: center;
}

.paragrafo-footer{
    color: #F4F0EA;
}

footer p{
    text-decoration: none;
    color: #e2e0df;
}

footer a{
    text-decoration: none;
    color: #ccd595;
}